html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.margin-bottom-minus-1 {
    margin-bottom: -1em;
}

.margin-top-2 {
    margin-top: 2em;
}

.margin-top-6 {
    margin-top: 6em;
}

.margin-top-12 {
    margin-top: 12em;
}

.margin-bottom-2 {
    margin-bottom: 2em;
}

.black-bg #mainNav {
    background-color: black !important;
    color:#fff;
    position: relative;
    margin-bottom: 4em;
}

.loginbutton {
    background-color: #f05f40 !important;
    border-color: #f05f40 !important;
}

.loginbutton:hover {
    cursor: pointer;
    background-color: white !important;
    color: #f05f40 !important;
}

.passwordreset {
    color: #636b6f !important;
    text-decoration: underline;
}

.margin-center {
    margin: 0 auto !important;
}

.margin-bottom-3 {
    margin-bottom: 3em;
}

.full-background {
    margin-top: -6em;
    background-image: url('http://restaumator.robbertluit.be/img/header.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-white {
    color: white;
}

.bolder {
    font-weight: 600;
    color: white;
}

.block {
    display: block;
}

.transparant-background {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgb(33, 37, 41);
    opacity: 0.8;
}

.padding-top-half {
    padding-top: 0.5em;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.restaurantname{
    width: 100%;
    text-align: center;
}


.height-5 {
    height: 5em;
    display: block;
}

.height-20 {
    height: 20em;
    display: block;
    width:100%;
}

.info-box-icon {
    width: 100% !important;
}

.top-1 {
    margin-top: 1em;
}

.margin-top-5 p{
    margin-top: 5em;
}