/* CLEARFIX */

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}

.clearfix::after {
    clear: both;
}

.restauranttables {
    list-style-type: none;
    padding: 0;
    /*margin-top: -60px;*/
}

.restauranttables > li {
    float: left;
}

.restauranttable:first-child {
    margin-left: 10%;
}

.restauranttable {
    margin-left: 4%;
    display: block;
    background-color: black;
    width: 15%;
    height: 40%;
    border-radius: 4px;
}

.wall {
    margin-top: 167.5px;
    border-top: 5px solid black;
    border-right: 5px solid black;
    width: 62.5%;
    border-radius: 4px;
    height: 11em;
    float: left;
}

.bar {
    margin-top: 167.5px;
    background-color: black;
    width: 25%;
    height: 10%;
    float: left;
    margin-left: 12.5%;
    border-radius: 4px;
}

.door {
    margin-left: 40%;
    margin-top: -20px;
    border-top: 5px solid black;
    width:5em;
    transform: rotate(-22.5deg);
    border-radius: 4px;
}