/* CLEARFIX */

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}

.clearfix::after {
    clear: both;
}

.restauranttables {
    list-style-type: none;
    padding: 0;
    /*margin-t  op: -60px;*/
}

.restauranttables > li {
    float: left;
}

.restauranttable {
    margin-left: 8%;
    display: block;
    height: 40%;
    width: 15%;
    border-radius: 4px;
    background-color: black;
}

.wall {
    margin-top: 9.5em;
    border-top: 5px solid black;
    border-right: 5px solid black;
    border-radius: 4px;
    width: 62.5%;
    height: 11em;
    float: left;
}

.bar {
    background-color: black;
    margin-top: 9.5em;
    margin-left: 12.5%;
    border-radius: 4px;
    width: 25%;
    height: 8%;
    float: left;
}

.door {
    margin-left: 40%;
    margin-top: -20px;
    border-top: 5px solid black;
    width:5em;
    transform: rotate(-22.5deg);
    border-radius: 4px;
}

.symbol {
    background: orange !important;
    margin:0 auto;
    margin-top: 5em;
    border-radius:50%;
    width: 5em;
    height: 5em;
    display: block;
    text-align: center;
}

.symbol .fa {
    margin-top:0.75em;
}
.activatebutton, .deactivatebutton
{
   width: 100%;
}
.activatebutton {
   width: 100%;
}

.disable
{
    display: none;
}
/* BLINKING */
.blink_text {
    animation:2s blinker linear infinite;
    color: red;
}

@keyframes blinker {
    0% { opacity: 0; }
    50% { opacity: 1.0; }
    100% { opacity: 0; }
}