/* CLEARFIX */
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}
.restauranttables
{
    list-style-type: none;
    padding: 0px;
    margin-top: -60px;
}
.restauranttables > li
{
    float: left;
}
.restauranttable:first-child
{
    margin-left: 12.5%;
}
.restauranttable
{
    margin-left: 5%;
    display: block;
    background-color: black;
    width: 15%;
    height: 40%;
}
.wall
{
    margin-top: 185px;
    border-top:5px solid black;
    border-right: 5px solid black;
    width: 62.5%;
    height: 200px;
    float: left;
}
.bar
{
    margin-top: 175px;
    background-color: black;
    width: 25%;
    height:10%;
    float: left;
    margin-left: 12.5%;
}